h2 {
    font-weight: normal;
    text-align: center;
}

.timeline {
    margin: 0 auto;
    width: 70%;
}

.timeline-date {
    font-weight: bold;
    padding-right: 0.5rem;
}

.timeline-event {
    padding-left: 0.5rem;
}

.overall {
    margin: 1rem auto;
    width: 90%;
}

.quote {
    font-size: 110%;
    margin: 1rem auto;
    width: 80%;
}

.quote-from {
    font-size: 90%;
    margin: 0 auto;
    width: 80%;
}

.wiki-link {
    margin: 0 auto;
    padding-bottom: 0.5rem;
    width: 95%;
}